html,body,
.view {
    height: 100%;
}   
/* Navegacion*/
.navbar {
    background-color: transparent;
    font-size: 18px;
    
}
.navbar-toggler{
    margin-top: 50px;
}
.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
    background-color: #1C2331;  
}
.img-logo{
    max-width: 400px;
    max-height: 90px;
}
/* sections */
.menu{
    background:#ffffff;
}
.card{
    align-content: center;
    text-align: center;
    margin: 5px 0px 5px 0px;
}
.img-card{
    max-width: 350px;
    max-height: 200px;
}
.decoraciones{
    background-color: #2BBBAD;
    color: #ffffff;
}
#carouselIndicators{
    margin-bottom: 30px;
}
.quienes-somos{
    background: green;
}
.contacto{
    background: grey;
}
/* footer */
footer.page-footer {
    background-color: #1C2331;
    margin-top: -1px;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color:  #1C2331;  
    }
}
.navbar .btn-group .dropdown-menu a:hover {
    color: #1C2331 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}
/*Call to action*/
.flex-center {
    color: #fff;
}
.view {
    background: url("../img/fondo.jpg")no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   
}